<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../assets/banner-image-1.png" class="w-100" alt="..." />
      <div class="carousel-caption d-flex flex-column text-start">
        <h5 class="banner-item-name">Item Name</h5>
        <div class="d-flex gap-5 align-items-center">
          <p>$ <span>0</span></p>
          <a
            href="/order?item=26"
            class="btn btn-danger order-item text-decoration-none"
            >Add to Order</a
          >
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../assets/banner-image-2.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-flex flex-column text-start">
        <h5 class="banner-item-name">Item Name</h5>
        <div class="d-flex gap-5 align-items-center">
          <p>$ <span>0</span></p>
          <a
            href="/order?item=27"
            class="btn btn-danger order-item text-decoration-none"
            >Add to Order</a
          >
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/banner-image-3.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-flex flex-column text-start">
        <h5>Third slide label</h5>
        <div class="d-flex gap-5 align-items-center">
          <p>$ <span>0</span></p>
          <a
            href="/order?item=28"
            class="btn btn-danger order-item text-decoration-none"
            >Add to Order</a
          >
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <i class="fa fa-chevron-left fa-3x icon-left" aria-hidden="true"></i>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
  </button>
</div>
