<nav class="navbar navbar-expand-md">
  <div class="container container-fluid">
    <div class="logo-container">
      <img
        class="logo img-fluid"
        src="../assets/last-supper-logo-black.png"
        alt=""
      />
      <a class="navbar-brand fs-3 fw-bold" href="#">The Last Supper</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-5" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active fs-5 dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Menu
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item food-dropdown-item" href="">Food</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Drinks</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Desserts</a>
            </li>
            <li>
              <a class="dropdown-item all-items" href="/menu">All Items</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- <form class="d-flex ms-4" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-success" type="submit">Search</button>
      </form> -->
    </div>
    <div class="icon-buttons-container d-flex gap-3">
      <div class="shopping-cart">
        <span class="cart-items">0</span>
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
      <div class="user-button">
        <button><i class="fa fa-user" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</nav>
